main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video {
    object-fit: fill;
    /* height: 60%; */
    width: 100%;
}


.travels {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.travels article {
    display: flex;
    flex-direction: row;
}

.travels .text {
    line-height: 1.3;
    text-indent: 2em;
    /* width: 40%; */
}

.travels .image {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.side {
    background-color: #D291BC;
    height: 52%;
    display: inline-block;
    position: fixed;
    left: 76%;
    top: 33%;
}

/* tablet */
/* header */
@media screen and (max-width: 1179px) {
    main {
        flex-direction: column;
    }

    .side {
        padding: 0%;
        margin: 0%;
        height: 100%;
        width: 100%;
        position: initial;
        order: -1;

    }

    .side ol {
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .side li {
        margin: 0 6% 0% 7%;
        width: auto;

    }

    .travels {
        flex-direction: column-reverse;
        width: 100%;
    }

    .travels h2 {
        order: 1;
    }

    .travels article {
        text-align: left;
        display: flex;
        flex-direction: row;
    }

    .travels .image {
        order: -1;
    }
}

/* phone */
/* header */

@media screen and (max-width: 480px) {

    main {
        flex-direction: column-reverse;
    }

    .side {
        padding: 0%;
        margin: 0%;
        height: auto;
        width: 100%;
        position: static;
    }

    .side ol {
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .side li {

        width: auto;

    }

    .video {
        display: none;
    }

    .travels {
        flex-direction: column-reverse;
        width: 100%;
    }

    .travels article {
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
    }

}