/* header */
/* color pallete
https://www.schemecolor.com/pastel-color-tones.php */
.header{
    width: 100%;
    display: inline-block;
    background-color:#957DAD;

}


.header img{
    margin: 0;
width: 5%;
display: block;
}
.icon{
    margin: 0;
    width: 100%;
}
.title{
    margin: 0;
    background-color: inherit;
    width: 100%;
    text-align: center;

}
.blerb{
    background-color: #D291BC;
    text-align: center;
    margin: 0;
}
nav{
    margin: 0;
}
nav ul{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
    padding: 0;
}
nav li{
    text-align: center;
    justify-content:space-between;
    width: auto;
    background-color: #FEC8D8;
    display: block;
    margin: 0;
    height: 100%
}
nav li:hover{
opacity: 0.50;
cursor:pointer;
}

.active{
    opacity: 0.50;
}
/* main */
body{
    margin: 0;
    background-color: #E0BBE4;
}
html{
}
main{
    display: block;
}

/* footer */
.footer{
    background-color: #957DAD;
    height: 30vh;

}

.cookie{
height: auto;
width: 20%;
position: fixed;
top: 90vh;
left:75vw;
color: #FFF;
opacity: 50%;
background-color: #FA0;
}


/* tablet */
@media screen and (max-width: 1179) {
   /* header */

    body{
    background-color: #E0BBE4;
    }
}

/* phone */

@media screen and (max-width: 480) {
    /* header */

body{
    background-color:#E0BBE4;
}
.header{
    position: fixed;
    z-index: 2;
}
 nav{
   display: none;
   
}
main{
    padding-top:22vh;
}
}